# Clang arguments for the ${PLATFORM} platform.

# Place directories in include and linker search paths.
-isystem <CFGDIR>/../mos-platform/${PLATFORM}/include
-L<CFGDIR>/../mos-platform/${PLATFORM}/lib

${LINKER_SCRIPT}

# Include parent configuration afterwards to give it lesser precedence.
@mos-${PARENT}.cfg

